<section class="index-page">
  <img class="avatar" src="{{ avatar }}">
  <h1>Hello {{ username }}!</h1>
  <p class="success">
    You have been successfully logged in!
  </p>
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
  <a href='/auth/logout'>LogOut</a>
</section>